table {
  width: 100%;
}

.boldTag {
  font-weight: bold;
}

.assetImg {
  width: 25px;
  height: 25px;
}

.nameHolder {
  display: flex;
  align-items: center;
}

.nameTag {
  flex-direction: row;
  margin-left: 8px;
}

.highlightHover:hover {
  background-color: yellow;
  cursor: pointer;
}

.mat-row {
  position: relative;
}

.mat-row-link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
