.topMover {
  padding-top: 24px;
  margin-bottom: 24px;
}

.content {
  display: inline-flex;
  width: 100%;

  .side {
    width: 20%;
    height: 80vh;
    overflow-y: auto;
  }
  .mainContent {
    width: 80%;
    padding-left: 8px;
    height: 80vh;
    overflow-y: auto;
  }
}
