/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

.redNumber {
  color: red;
}

.redNumber::before {
  content: "🢃";
}

.greenNumber {
  color: green;
}

.greenNumber::before {
  content: "🡹";
}
