table {
  width: 100%;
}

.boldTag {
  font-weight: bold;
}

.assetImg {
  width: 25px;
  height: 25px;
}

.nameHolder {
  display: flex;
  align-items: center;
}

.nameTag {
  flex-direction: row;
  margin-left: 8px;
}
